.heading{
    display: flex;
    justify-content: center;
    margin-left: 29%;
    
    width: 40%;
    height: 40%;
    color: rgb(102, 1, 1);
    border-radius: 5%;
}
.heading:hover{
   color: blue;
}
#lg{
    display: flex;
   font-size: 160%;
    justify-content: center;
    color: black;
}
#lg:hover{
    color: blue;
}
#bck{
    background-size: cover;
    height: 100%;
    width: 100%;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2022/10/03/21/47/fog-7496901_1280.jpg");
    background-size: cover;
}